* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff') format('woff'),
        url('fonts/Norse-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.body {
    display: flex;
}

img {
    height: 100vh;
    width: 28vw;
    min-width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 72vw;
}

.header-part {
    background-color: rgb(245, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1.1em;
    height: 33vh;
    padding: 30px;
    text-shadow: 0 0 0.5px black;
}

.header-part .top-text {
    max-width: 60%;
    margin: 50px 50px 0 0;
}

.header-part .mid-text {
    margin-bottom: 20px;
}

.header-part .bottom-text {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form .input-fields {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1.1em;
    padding: 15px 30px;
}

form div.horizontal-align {
    display: flex;
    gap: 150px;
}

form div.horizontal-align div {
    display: flex;
    flex-direction: column;

}

form .top-text {
    margin-bottom: 20px;
}

form label {
    font-size: 0.75em;
    font-weight: lighter;
    text-shadow: 0 0 1.5px black;
    opacity: 0.6;
    margin-bottom: 5px;
}

form input {
    border: 1px solid #E5E7EB;
    padding: 0.25em 0.5em;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 3px 0.5px blue;

}
input:invalid{
    border: 1px solid red;
}

form .button-part {
    background-color: rgb(245, 236, 236);
    padding: 30px;
    flex: 1;
    border-top: 0.5px solid  rgb(245, 236, 236);
    box-shadow:0 0 6px 0.5px  rgb(159, 156, 156) ;

}

form button {
    padding: 0.7em 2.8em;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #596D48;
}

.button-part a {
    text-decoration: none;
    color: #596D48;
    font-weight: 900;
}

.side-image {
    position: relative;
}

.side-image .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100px;
    color: white;
    gap: 10px;
}

.side-image .pic-credit {
    bottom: 20px;
    left:110px;
    position: absolute;
    color: white;
    font-size: 12px;

}

.pic-credit a {
    color: white;
}

.logo-image {
    height: 90px;
    width: auto;
    object-fit: contain;
}

.logo p {
    font-family: 'Norse';
    margin-left: -120px;
    font-size: 60px;
}